*{
    margin: 0;padding: 0;
}
html{
    font-size: 31.25vw;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
   display: flex; 
   flex-direction: column;
   color: #807f85;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 0.38rem;
    font-size: 0.14rem;
    overflow: hidden; 
}
#head{
    width: 100%;
    height: 0.37rem;
    display: flex;
    align-items: center
}
#head img{
    margin-left: 0.14rem;
}
#head span{
    margin-left: 34%;
}
/* 主体 */
main{
    width: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: auto;
    font-size: 0.12rem;
}
#wrap{
    height: 1.15rem;
    width: 100%;
}
#wrap img{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100%;
    height: 0.38rem;
    display: flex;
    font-size: 0.1rem;
}
.nav2{
    width: 100%;
    height: 0.38rem;
    display: flex;
    font-size: 0.1rem;
}
.nav-box{
    height: 0.38rem;
    width: 50%;
    line-height: 0.38rem;
    text-align: center;
    color: #000;
    background-color: #85de79;
    background-image: url(../images/sanjiao_xia.png);
    background-position: 76% 50%;
    background-repeat: no-repeat;
}
.massion{
    width: 100%;
}
.box{
    width: 94%;
    height: 0.97rem;
    margin: 0.1rem auto 0;
    box-sizing: border-box;
    border: 0.02rem solid #f8f8f8;
    overflow: hidden;
}
.boxmain{
    margin: 0 auto;
    width: 90%;
}
h4{
    height: 0.27rem;
    line-height: 0.27rem;
    font-size: 0.12rem;
}
.title{
    color: #000;
}
.price{
    color: #f4620f;
    border-bottom: 0.01rem solid #f3fff4;
}
.time{
    margin-top: 0.11rem;
}
.time img{
    width: 0.11rem;
    height: 0.11rem;
}
.time span{
    margin-right: 0.12rem;
}
.fixnav {
    position: fixed;
    top: 0px;
    left: 0px;
}
/* 底部 */
footer{
    width: 100%;
    height: 0.49rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}
footer div i{
    font-size: 0.17rem !important;
}
footer div img{
    width: 0.65rem;
    
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div span{
    font-size:0.09rem;
}
footer div:hover,footer div:focus{
    color: #00b589
}
.fabuimg{
    position: absolute;
    z-index: 88888;
    top: -56%;
}
.fabu{
    position: absolute;
    top: 56%;
}


